.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #f5f5f5;
  border-radius: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 40px;
  color: #282c34;
}

input[type="text"] {
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius:20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #008080;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #00b3b3;
}

.delete-btn {
  font-size: 17px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

  background-color: pink;
  color: black;
  cursor: pointer;
  margin-top: 20px;
}

.delete-btn:hover {
  background-color: palevioletred;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #282c34;
}

.todo-item.completed {
  text-decoration: line-through;
  color: #aaa;
}

.todo-item .actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.todo-item .actions button {
  margin-left: 10px;
}

.app-container {
  background: linear-gradient(to bottom, #83a4d4, #b6fbff);
}
